<div class="web-page">
    <section class="info">
        <h1>Blood Donation Management Database</h1>
    </section>
    <section class="home-intro">
        <p class="welcome">
            Welcome to the Blood Donation Management Database
        </p>
        <p class="welcome">
            This web portal will allow your Blood Donation Agency to manage its operations by allowing you
            to review your blood banks and its supply of donations and aid in setting up targeted blood drives in
            locations that attract many donors when supplies are low.
        </p>
        <p class="welcome">
            This portal is also set up to allow your agency to review requests from hospitals that require amounts of
            specific types of blood.
        </p>
    </section>
    <div id="giveBloodImage">
        <img src="/static/Blood-Drivef.jpg" alt="Give blood, give life" style="width:600px;height:281px;">
    </div>
</div>