<div class="HospitalS">
    <section class="info">
        <h3>Hospitals Database</h3>
        <p>
            This page allows you to update information about the hospitals in your system
        </p>
    </section>
    <section class="add-entry">
        <h3>Add Entry</h3>
        <form>
            <label for="name">Name</label><br>
            <input size="15" type="text" id="name" name="name"><br>
            <label for="zip">Zip Code</label><br>
            <input size="15" maxlength="5" type="number" id="zip" name="zip"><br>
            <label for="city">City</label><br>
            <input size="15" type="text" id="city" name="city"><br>
            <label for="phone">Phone</label><br>
            <input size="15" type="tel" id="phone" name="phone"><br><br>
            <input type="submit" id="submitEntry" value="Add Entry">

        </form>
    </section>
    <<section class="entry-display">
    <h3>Hospitals</h3>
    <table id="entry-list">
        <tr>
            <th>Hospital ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Zip</th>
            <th>Phone</th>
            <th id="delete-column"> </th>
            <th id="edit-column"> </th>
        </tr>
        <tr>
            <th>1001</th>
            <th>Samaritan Health Services</th>
            <th>Corvallis</th>
            <th>97330</th>
            <th>541-768-5111</th>
            <th id="delete-column">
                <button type="submit">Delete</button>
            </th>
            <th id="edit-column">
                <button type="submit">Update</button>
            </th>
        </tr>
    </table>
</section>
    <hr>
</div>